body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  height: 100vh;
  min-width: 368px;
}

#root{
  height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}